{% extends "app_estudiocastillo/base.html" %}

{% block contenido %}

  <h2>Editar Cliente</h2>

  <form method="post" class="custom-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.razon_social.id_for_label }}">Razon Social:</label>
      {{ form.razon_social }}
    </div>

    <div class="form-group">
      <label for="{{ form.CUIT.id_for_label }}">CUIT:</label>
      {{ form.CUIT }}
    </div>

    <div class="form-group">
      <label for="{{ form.domicilio.id_for_label }}">Domicilio:</label>
      {{ form.domicilio }}
    </div>

    <div class="form-group">
      <label for="{{ form.localidad.id_for_label }}">Localidad:</label>
      {{ form.localidad }}
    </div>

    <div class="form-group">
      <label for="{{ form.provincia.id_for_label }}">Provincia:</label>
      {{ form.provincia }}
    </div>

    <div class="form-group">
      <label for="{{ form.contacto_nombre.id_for_label }}">Contacto:</label>
      {{ form.contacto_nombre }}
    </div>

    <div class="form-group">
      <label for="{{ form.celular.id_for_label }}">Celular:</label>
      {{ form.celular }}
    </div>

    <div class="form-group">
      <label for="{{ form.mail.id_for_label }}">Mail:</label>
      {{ form.mail }}
    </div>

    <div class="form-group">
      <label for="{{ form.forma.id_for_label }}">Forma:</label>
      {{ form.forma }}
    </div>

    <div class="form-group">
      <label for="{{ formsituacion_iva.id_for_label }}">Situación IVA:</label>
      {{ form.situacion_iva }}
    </div>

    <div class="form-group">
      <label for="{{ form.ingresos_brutos.id_for_label }}">Ingresos Brutos:</label>
      {{ form.ingresos_brutos }}
    </div>

    <div class="form-group">
      <label for="{{ form.honorarios.id_for_label }}">Honorarios:</label>
      {{ form.honorarios }}
    </div>

    <div class="form-group">
      <label for="{{ form.recibe_factura.id_for_label }}">Recibe factura:</label>
      {{ form.recibe_factura }}
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar" />
  </form>

  <br>
  <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Volver a la lista de clientes.</a>

  <style>
    .custom-form .form-group {
      margin-bottom: 20px; /* Set the bottom margin for each field */
    }

    .custom-form label {
      width: 120px; /* Set the fixed width for the labels */
      display: inline-block;
    }

    .custom-form input[type="text"],
    .custom-form input[type="number"],
    .custom-form select,
    .custom-form input[type="email"] {
      width: 280px; /* Set the fixed width for the input fields */
    }
  </style>

{% endblock contenido %}
