{% extends "app_estudiocastillo/base.html" %}

{% block contenido %}
<section>
  <div>
    <div class="col-md-8 mt-3 left">
      <div class="d-flex justify-content-between mb-3">
        <h1>Clientes</h1>
        <a href="{% url 'cliente_create' %}" class="btn btn-dark">Crear Cliente</a>
      </div>
      <br>
    
      <table class="table table-hover" id="clientes-table">
        <thead>
          <tr>
            <th style="min-width: 200px;">Razon Social</th>
            <th>CUIT</th>
            <th>Forma</th>
            <th style="min-width: 100px;">Situación IVA</th>
            <th>IIBB</th>
            <th>Honorarios</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in object_list %}
          <tr data-cliente_edit="{% url 'cliente_edit' pk=cliente.pk %}">
            <td>{{ cliente.razon_social }}</td>
            <td>{{ cliente.CUIT }}</td>
            <td>{{ cliente.forma }}</td>
            <td>{{ cliente.situacion_iva }}</td>
            <td>{{ cliente.ingresos_brutos }}</td>
            <td>{{ cliente.honorarios }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
 
    </div>
  </section>

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- DataTables JavaScript -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

  <script>
    $(document).ready(function () {
      var table = $('#clientes-table').DataTable({
        "paging": false, // Disable paging
        "language": {
          "search": "Buscar:",
        }
      });

      // Handle row click event
      $('#clientes-table tbody').on('click', 'tr', function () {
        var url = $(this).data('cliente_edit');
        if (url) {
          window.location.href = url;
        }
      });
    });
  </script>
</script>

{% endblock contenido %}
